@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins:300');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Poppins', sans-serif;
}

body, html {
    overflow-x: hidden;
}

.container-fluid {
    
}
/* THEMES */
.theme.blue #top {
    background: #3494e6; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3494e6 0%, #ec6ead 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3494e6 0%,#ec6ead 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3494e6 0%,#ec6ead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* ********************************************************************** */
.theme.yellow #top {
    background: #3494e6; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffcf32 0%, #ef4343 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffcf32 0%,#ef4343 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffcf32 0%,#ef4343 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* ********************************************************************** */
.theme.teal #top {
    background: #30cfd0; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #30cfd0 0%, #330867 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #30cfd0 0%,#330867 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #30cfd0 0%,#330867 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* ********************************************************************** */
.theme.red #top {
    background: #00223E; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00223E 0%, #FFA17F 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #00223E 0%,#FFA17F 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #00223E 0%,#FFA17F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* ********************************************************************** */
.theme.blue #top .header .fa-search:hover {
    color: #ec6ead;
}
/* ********************************************************************** */
.theme.yellow #top .header .fa-search:hover {
    color: #ef4343;
}
/* ********************************************************************** */
.theme.teal #top .header .fa-search:hover {
    color: #330867;
}
/* ********************************************************************** */
.theme.red #top .header .fa-search:hover {
    color: #FFA17F;
}
/* ********************************************************************** */
.theme.blue .no-results h1 {
    background: -webkit-linear-gradient(#3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ********************************************************************** */
.theme.yellow .no-results h1 {
    background: -webkit-linear-gradient(#ffcf32, #ef4343);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ********************************************************************** */
.theme.teal .no-results h1 {
    background: -webkit-linear-gradient(#30cfd0, #330867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ********************************************************************** */
.theme.red .no-results h1 {
    background: -webkit-linear-gradient(#00223E, #FFA17F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ********************************************************************** */
.theme.blue #track-list .track .play a {
    border-color: #3494e6;
    color: #3494e6;
}
.theme.blue  #track-list .track .play a i {
    color: #3494e6;
}
.theme.blue  #track-list .track .play a:hover {
    background: #3494e6;
}
/* ********************************************************************** */
.theme.yellow #track-list .track .play a {
    border-color: #ef4343;
    color: #ef4343;
}
.theme.yellow  #track-list .track .play a i {
    color: #ef4343;
}
.theme.yellow  #track-list .track .play a:hover {
    background: #ef4343;
}
/* ********************************************************************** */
.theme.teal #track-list .track .play a {
    border-color: #30cfd0;
    color: #30cfd0;
}
.theme.teal  #track-list .track .play a i {
    color: #30cfd0;
}
.theme.teal  #track-list .track .play a:hover {
    background: #30cfd0;
}
/* ********************************************************************** */
.theme.red #track-list .track .play a {
    border-color: #FFA17F;
    color: #FFA17F;
}
.theme.red  #track-list .track .play a i {
    color: #FFA17F;
}
.theme.red  #track-list .track .play a:hover {
    background: #FFA17F;
}
/* ********************************************************************** */
.theme #track-list .track .play a:hover i {
    color: white;
}

.theme.blue #track-list .track p.art-name {
    color: #3494e6;
}
.theme.yellow #track-list .track p.art-name {
    color: #ef4343;
}
.theme.teal #track-list .track p.art-name {
    color: #30cfd0;
}
.theme.red #track-list .track p.art-name {
    color: #FFA17F;
}
.theme.blue #results {
    color: #ec6ead;
}
.theme.yellow #results {
    color: #ffcf32;
}
.theme.teal #results {
    color: #330867;
}
.theme.red #results {
    color: #00223E;
}

/* END THEMES */

#top {
    display: flex;
    flex-direction: column;
    transition: background 0.4s ease-in-out;
}
/* Header */
#top .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}
#top .header .name {
    padding: 15px;
}
#top .header .name h1 {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
}
.fa-headphones-alt {
    color: white;
    padding-left: 15px;
}
#top .header .form {
    display: flex;
    align-items: center;
    max-height: 100px;
}
#top .header input {
    font-size: 2rem;
    border-radius: 20px;
    margin-right: 30px;
    padding: 5px;
    border: none;
    padding-left: 15px;
    color: #5a5a5a;
}
#top .header input:focus {
    outline: none;
}
#top .header .fa-search {
    background: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
    transition: all 0.4s ease-in-out;
    font-size: 1.7rem;
}
#top .header .fa-search:hover {
    cursor: pointer;
    background: white;
    border-color: transparent;
    transform: rotate(360deg);
}
/* Attributes */
#top .attributes {
    padding: 15px 25px;
    background: #f7f7f7;
    border-bottom: 2px solid #e5e5e5;
    font-size: 1.6rem;
}
.attribute {
    padding: 0;
    color: black;
}
/* Track List */
#track-list {
    background: white;
    position: relative;
}
#track-list .track {
    padding: 25px;
    border-bottom: 2px solid #ededed;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
#track-list .track:hover {
    background: #f7f7f7;
    cursor: default;
    transform: scale(1.015);
}
#track-list .track div {
    padding: 0;
}
#track-list .track img {
    max-height: 80px;
    max-width: 80px;
}
#track-list .track p {
    font-size: 1.6rem;
}
#track-list .track p.art-name {
    font-weight: 600;
}
#track-list .track p.artist {
    /* font-weight: 600; */
    padding-right: 10px;
}
#track-list .track .play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
#track-list .track .play a {
    border: 2px solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}
#track-list .track .play a i {
    transition: color 0.5s ease-in-out;
}
#track-list .track .play a:hover {
    transform: rotate(360deg);
}
#track-list .track .play a:hover i {
    color: white;
}
.no-results {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    padding-left: 15px;
}
#results {
    text-align: center;
    font-size: 1.8rem;
    padding: 30px;
    font-weight: 600;
}
.no-results h1 {
    line-height: 1.5;
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
}

@media screen and (max-width: 991px) {
    p.hide-tablet {
        display: none;
    }
    .art-name {
        padding-right: 10px;
    }
    .name-container {
        padding-right: 10px;
    }
}

@media screen and (max-width: 768px) {
    #top .header {
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    #top .header .name {
        padding: 30px 15px;
    }
    #top .header .name h1 {
        text-align: center;
        font-size: 4.5rem;
    }
    #top .header .form {
        justify-content: center;
        padding-bottom: 30px;
    }
    #top .header .form input {
        font-size: 1.8rem;
        margin-right: 15px;
    }
    #track-list .track .play {
        padding: 0;
        align-items: initial;
    }
    #track-list .track .play a {
        min-width: 30px;
        min-height: 30px;
        max-height: 30px;
        max-width: 30px;
        font-size: 1.1rem;
    }
    .hide-mobile {
        display: none;
    }
    .attributes {
        padding: 15px !important;
    }
    .attr2 {
        padding-left: 10px;
    }
    .track {
        padding: 15px 30px 15px 40px !important;
        align-items: initial !important;
    }
    .track p {
        margin: 0 !important;
    }
    .art-name {
        padding: 0;
        padding-right: 10px;
        margin-left: 10px;
    }
    .name-container {
        padding-right: 10px;
    }
    #track-list {
        padding: 0;
    }
    .no-results {
        max-height: 50vh;
    }
    .no-results h1 {
        font-size: 3.5rem;
    }
}